<h1>Mushrooms#index</h1>
<p>Busca tu pinche comentario</p>

 <input type="text" name="q">

<p>Crea tu pinche comentario </p>
<form>
  <input type="text" name="create">
  <button type="submit">Crear</button>
</form>

<br>
 
<button id='getButton'>Fetch comments</button>

<ul></ul>
